<!DOCTYPE html>
<html>
<head>
	<title>Index Route</title>
</head>
<body>

	<h1>Dragons - Index</h1>

	<ul>
		<%Dragons.forEach((elem, i) => {%>

			<li><a href="/dragons/<%=Dragons[i].id%>"><%=elem.name%></a></li>

		<%});%>
	</ul>

	<form action="/dragons/new">
		<input type="submit" value="Create New Dragon">
	</form>

</body>
</html>