<!DOCTYPE html>
<html>
<head>
	<title>NEW ROUTE</title>
</head>
<body>

	<h1>NEW DRAGON</h1>

	<form>
		<ul>
			<li>Name: <input type="text" name="name"></li>
			<li>From: <input type="text" name="from"></li>
			<li>Loves: <input type="text" name="loves"></li>
			<li>Size(m): <input type="text" name="size"></li>
			<li>Color: <input type="text" name="color"></li>
		</ul>
	</form>

</body>
</html>