<!DOCTYPE html>
<html>
<head>
	<title>NEW ROUTE</title>
</head>
<body>

	<h1>NEW DRAGON</h1>

	<form action="/dragons" method="post">
		<ul>
			<li>Name: </li><input type="text" name="name">
			<li>From: </li><input type="text" name="from">
			<li>Loves: </li><input type="text" name="loves">
			<li>Size(m): </li><input type="text" name="size">
			<li>Color: </li><input type="text" name="color">
		</ul>
		<input type="submit" name="" value="Submit New Dragon!">
	</form>

</body>
</html>